<!-- SEO panel -->
			<div class="panel-seo">
				<main class="container-fluid">
								
					<div class="row">
						<div class="col-12">
						
							<!-- Menu design -->
							<div class="row nav">
								<div class="col-12">
									<nav>
									  <ul class="pagination justify-content-center">
										<li class="page-item active" data-target=".seo-param-panel"><a class="page-link" href="#">Paramétrage</a></li>
										<li class="page-item" data-target=".seo-assist-panel"><a class="page-link" href="#">Assistance</a></li>
									  </ul>
									</nav>
								</div>
							</div>
						
							<div class="row seo-assist-panel hidden">
								<div class="col-12 pb-2">
								
									<div class="row">
										<div class="col-12">
											
											<!-- Block info seo -->
											<div class="seo-assist" data-children=".item">
											  <!-- General info -->
											  <div class="item">
												<a data-toggle="collapse" data-parent=".seo-assist" href="#seo-info" aria-expanded="false" aria-controls="seo-info">
												   <div class="card-header">
													  <h5 class="mb-0">
														Optimisation du contenu
													  </h5>
													</div>
												</a>
												<div id="seo-info" class="collapse hide" role="tabpanel">
												  <div class="card-body">
													
													<div class="row">
														<div class="col-12 seo-info-content">
															<h6>Contenu</h6>
														</div>
													</div>
													
												  </div>
												</div>
											  </div>
											  
											  
											  <!-- SEO title -->
											  <div class="item">
												<a data-toggle="collapse" data-parent=".seo-info" href="#seo-title" aria-expanded="false" aria-controls="seo-title">
												   <div class="card-header">
													  <h5 class="mb-0">
														Optimisation des titres
													  </h5>
													</div>
												</a>
												<div id="seo-title" class="collapse hide" role="tabpanel">
												  <div class="card-body">
													
													<div class="row">
														<div class="col-12 seo-title-opti">
															
															<div class="row">
																<h6>Titre général</h6>
																<div class="col-12">
																	<p class="p-3 border border-secondary rounded info">
																		"Le titre"</br>
																		(110/65 caractères)
																	</p>
																	<ol>
																		<u class="font-weight-bold">Conseil :</u>
																		<li>
																			La balise title (et la balise meta description) doivent être destinées aux internautes avant d’être destinées aux moteurs de recherche. Cette règle vous évitera d’être assimilé à un spammeur et ainsi vous êtes certains de donner une bonne information sur le contenu de votre page.
																		</li>
																		<li>
																			La balise titre d’une page doit impérativement parler du contenu de la page en question. Le titre doit être en adéquation avec le contenu global, le thème, le sujet de la page qu’il désigne. Essayer de nommer le titre d’une page avec un titre générique pouvant être très recherché mais sans lien avec le contenu de la page vous sera fatal dans la mesure où les moteurs de recherche rassemblent un maximum de données sur une page avant de la classer dans un thème.
																		</li>
																		<li>
																			Essayer de ne pas dépasser 60 - 65 caractères, espace compris. En limitant ainsi la longueur de votre titre, vous évitez :
																			<ul>
																				<li>
																					d’être considéré comme étant un spammeur, limitez vous à l’information essentielle à communiquer.
																				</li>
																				<li>
																					d’afficher dans la page de résultat des moteurs de recherche un titre coupé par « ... » ce qui nuit à la lecture du titre.
																				</li>
																			</ul>
																		</li>
																		<li>
																			Placer au début du titre le mot clé ou l’expression pour lesquels vous souhaitez optimiser votre page.
																		</li>
																	</ol>
																	<p>
																		Si vous souhaitez améliorer votre notoriété, mettez en début de la balise titre votre marque.
																	</p>
																	<p>
																		Si vous souhaitez vous placer par rapport à des mots clés (stratégie conseillée aux sites ne bénéficiant pas d’une grande marque) placez alors en début ces mots clés.
																	</p>
																</div>
															</div>
														</div>
														
																											
														<div class="col-12 seo-title-in-page-opti">
															<hr>
															<div class="row">
															<h6>Titres en page</h6>
																<div class="col-12 info">
																</div>
																<div class="col-12">
																	<ul>
																		<u class="font-weight-bold">Conseil :</u>
																		<li>
																			Préparer la lecture du paragraphe que ces titres précèdent en résumant son contenu. Ils aident ainsi les lecteurs à mieux comprendre ce qu’ils vont lire.
																		</li>
																		<li>
																			Indiquer aux moteurs de recherche les informations les plus importantes que comportent votre page (l'algorithme de Google accorderait plus de poids aux mots clés et expressions que contiennent les titres qu'au reste du contenu)
																		</li>
																		<li>
																			Chaque document HTML peut contenir un ou plusieurs titres h1 à h6
																		</li>
																		<li>
																			Il existe 6 niveaux de titrage possibles : h1, h2, h3, h4, h5 et h6. h1 étant un titre de premier niveau, h2 un titre de second niveau, h3, un titre de troisième niveau etc...
																		</li>
																		<li>
																			Pour un bon référencement naturel, un titre doit contenir des mots-clés stratégiques sur lesquels vous souhaitez vous positionner dans les pages de résultats.
																		</li>
																	</ol>
																	<p>
																		D’un point de vue référencement, la balise h1 est la plus importante parmi tous les autres titres. Plus on augmente de niveau de titre (h2, h3, h4, h5 et h6), moins son contenu sera considéré comme important par les moteurs de recherche.
																	</p>
																	<p>
																		Si vous souhaitez vous placer par rapport à des mots clés (stratégie conseillée aux sites ne bénéficiant pas d’une grande marque) placez alors en début ces mots clés.
																	</p>
																</div>
															</div>
														</div>
													  </div>
												  </div>
												</div>
											  </div>
											  
											  
											  <!-- SEO keyword -->
											  <div class="item">
												<a data-toggle="collapse" data-parent=".seo-info" href="#seo-keyword" aria-expanded="false" aria-controls="seo-keyword">
												   <div class="card-header">
													  <h5 class="mb-0">
														Optimisation des mots clès
													  </h5>
													</div>
												</a>
												<div id="seo-keyword" class="collapse hide" role="tabpanel">
												  <div class="card-body">
													
													<div class="row">
														<div class="col-12 seo-keyword-opti">
															
															<div class="row">
															<h6>Mots clès</h6>
																<div class="col-12 info">
																</div>
																<div class="col-12">
																	<u class="font-weight-bold">Conseil :</u>
																	<p>
																		Trois critères majeurs sont à prendre en considération pour le choix des mots-clés sur lesquels vous souhaitez vous positionner :
																	</p>
																	<ol>
																		
																		<li>
																			La quantité du trafic générée par le mot-clé :
																			<p>
																				Ce critère correspond au nombre de fois qu’un internaute saisit le mot-clé dans un moteur de recherche (Google Bing…), tous moteurs confondus. En d’autres termes, cela correspond au trafic maximum que le mot-clé peut générer vers votre site mais également sur des sites concurrents positionnés sur le même mot-clé.
																			</p>
																		</li>
																		
																		<li>
																			La qualité du trafic engendré par le mot-clé :
																			<p>
																				Ce critère représente l’adéquation de votre offre (le contenu offert sur votre site) avec la demande (motif de la visite de l’internaute)
																			</p>
																		</li>
																		
																		<li>
																			La convoitise que le mot-clé suscite :
																			<p>
																				Ce critère renvoie au nombre de sites web (concurrents) qui souhaitent également se positionner sur le même mot-clé. Rappelez-vous qu’il n’y a que dix places sur la première page résultat des moteurs de recherche. Plus il y aura de sites souhaitant se positionner sur un mot-clé, plus la tache sera difficile.
																			</p>
																		</li>
																	</ol>
																	
																	
																	
																	<p>
																		Les différents types de mots-clés :
																	</p>
																	<ul>
																		<li>
																			<b>Concurrentiels : </b>
																			<p>
																				Un mot-clé concurrentiel est un mot-clé sur lequel beaucoup de webmaster tentent de se positionner. Et souvent ce sont les sites avec de gros moyens (notoriété du site, l’ancienneté…) qui réussissent à se positionner dessus.
																			</p>
																		</li>
																		
																		<li>
																			<b>Parasités : </b>
																			<p>
																				Les mots-clés parasités sont ceux sur lesquels beaucoup sont positionnés par hasard. Ils n’ont pour la majorité jamais fait l’effort de se positionner dessus mais leur site a d’une certaine façon un rapport avec le sujet.
																			</p>
																			<p>
																				De plus les internautes qui recherchent ce mot-clé le font pour des raisons très diverses. Le trafic que ces mots-clés génèrent est donc peu qualifié.
																			</p>
																		</li>
																		
																		<li>
																			<b>Délaissés : </b>
																			<p>
																				Le mot-clé parasité renvoit à un sujet très général, le mot-clé délaissé renvoit lui à une thématique très ciblée et les sites positionnés ont souvent moins de notoriété que dans les deux premiers cas cités précédemment.
																			</p>
																			<p>
																				Les sites qui s’y trouvent positionnés n’ont souvent pas fait d’effort particulier. Les pages que l’on trouve sur ces requêtes sont peu optimisées sur le thème en question.
																			</p>
																			<p>
																				Les chances pour s’y positionner sont très grandes.
																			</p>
																		</li>
																		
																		<li>
																			<b>Niche : </b>
																			<p>
																				Très peu de webmasters font des efforts importants pour se positionner sur les mots-clés de niche. Par contre ceux qui y sont, n’y sont pas par hasard, ils ont fait des efforts conséquents. Le trafic qui en ressort est hautement qualifié. La lutte est sérieuse, mais le nombre de prétendants est limité.
																			</p>
																			<p>
																				Il sagit de mots spécialisés et long comme par exemple : "Les pieds nickelés".
																			</p>
																		</li>
																	</ul>
																	
																	<ul>
																		<b>Pour votre stratégie :</b>
																		<li>
																			A court terme, visez plutôt les mots-clés les plus accessibles qui sont les mots-clés délaissés
																		</li>
																		<li>
																			A moyen terme, si vous validez l’étape précédente, vous pourrez aborder les mots-clés de niche
																		</li>
																		<li>
																			Lorsque vous aurez validé les deux étapes précédentes, vous pourrez alors aller plus loin dans vos ambitions. Votre site web drainera du trafic transformant et aura acquis en notoriété.
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												  </div>
												</div>
											  </div>
											  
											  
											  <!-- SEO description -->
											  <div class="item">
												<a data-toggle="collapse" data-parent=".seo-info" href="#seo-description" aria-expanded="false" aria-controls="seo-description">
												   <div class="card-header">
													  <h5 class="mb-0">
														Optimisation de la description
													  </h5>
													</div>
												</a>
												<div id="seo-description" class="collapse hide" role="tabpanel">
												  <div class="card-body">
													
													<div class="row">
														<div class="col-12 seo-description-opti">
															
															<div class="row">
															<h6>Contenu</h6>
																<div class="col-12 info">
																</div>
																<div class="col-12">
																	<u class="font-weight-bold">Conseil :</u>
																	<p>
																		Trois critères majeurs sont à prendre en considération pour le choix des mots-clés sur lesquels vous souhaitez vous positionner :
																	</p>
																	<ol>
																		
																		<li>
																			La quantité du trafic générée par le mot-clé :
																			<p>
																				Ce critère correspond au nombre de fois qu’un internaute saisit le mot-clé dans un moteur de recherche (Google Bing…), tous moteurs confondus. En d’autres termes, cela correspond au trafic maximum que le mot-clé peut générer vers votre site mais également sur des sites concurrents positionnés sur le même mot-clé.
																			</p>
																		</li>
																		
																		<li>
																			La qualité du trafic engendré par le mot-clé :
																			<p>
																				Ce critère représente l’adéquation de votre offre (le contenu offert sur votre site) avec la demande (motif de la visite de l’internaute)
																			</p>
																		</li>
																		
																		<li>
																			La convoitise que le mot-clé suscite :
																			<p>
																				Ce critère renvoie au nombre de sites web (concurrents) qui souhaitent également se positionner sur le même mot-clé. Rappelez-vous qu’il n’y a que dix places sur la première page résultat des moteurs de recherche. Plus il y aura de sites souhaitant se positionner sur un mot-clé, plus la tache sera difficile.
																			</p>
																		</li>
																	</ol>
																	
																	
																	
																	<p>
																		Les différents types de mots-clés :
																	</p>
																	<ul>
																		<li>
																			<b>Concurrentiels : </b>
																			<p>
																				Un mot-clé concurrentiel est un mot-clé sur lequel beaucoup de webmaster tentent de se positionner. Et souvent ce sont les sites avec de gros moyens (notoriété du site, l’ancienneté…) qui réussissent à se positionner dessus.
																			</p>
																		</li>
																		
																		<li>
																			<b>Parasités : </b>
																			<p>
																				Les mots-clés parasités sont ceux sur lesquels beaucoup sont positionnés par hasard. Ils n’ont pour la majorité jamais fait l’effort de se positionner dessus mais leur site a d’une certaine façon un rapport avec le sujet.
																			</p>
																			<p>
																				De plus les internautes qui recherchent ce mot-clé le font pour des raisons très diverses. Le trafic que ces mots-clés génèrent est donc peu qualifié.
																			</p>
																		</li>
																		
																		<li>
																			<b>Délaissés : </b>
																			<p>
																				Le mot-clé parasité renvoit à un sujet très général, le mot-clé délaissé renvoit lui à une thématique très ciblée et les sites positionnés ont souvent moins de notoriété que dans les deux premiers cas cités précédemment.
																			</p>
																			<p>
																				Les sites qui s’y trouvent positionnés n’ont souvent pas fait d’effort particulier. Les pages que l’on trouve sur ces requêtes sont peu optimisées sur le thème en question.
																			</p>
																			<p>
																				Les chances pour s’y positionner sont très grandes.
																			</p>
																		</li>
																		
																		<li>
																			<b>Niche : </b>
																			<p>
																				Très peu de webmasters font des efforts importants pour se positionner sur les mots-clés de niche. Par contre ceux qui y sont, n’y sont pas par hasard, ils ont fait des efforts conséquents. Le trafic qui en ressort est hautement qualifié. La lutte est sérieuse, mais le nombre de prétendants est limité.
																			</p>
																			<p>
																				Il sagit de mots spécialisés et long comme par exemple : "Les pieds nickelés".
																			</p>
																		</li>
																	</ul>
																	
																	<ul>
																		<b>Pour votre stratégie :</b>
																		<li>
																			A court terme, visez plutôt les mots-clés les plus accessibles qui sont les mots-clés délaissés
																		</li>
																		<li>
																			A moyen terme, si vous validez l’étape précédente, vous pourrez aborder les mots-clés de niche
																		</li>
																		<li>
																			Lorsque vous aurez validé les deux étapes précédentes, vous pourrez alors aller plus loin dans vos ambitions. Votre site web drainera du trafic transformant et aura acquis en notoriété.
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												  </div>
												</div>
											  </div>
											  								  
											  
											</div>
											
										</div>
										
									</div>
								</div>
							</div>
							
							
							<div class="row seo-param-panel">
								<div class="col-12 pb-2">
									<!-- Keyword -->
									<div class="row">
										<div class="col-12 form-group">
											<label for="keyword">Mots clés</label>
											<textarea id="keyword" class="form-control" data-target-input="keyword"></textarea>
										</div>
									</div>
									<!-- Description -->
									<div class="row">
										<div class="col-12 form-group">
											<label for="description">Description</label>
											<textarea id="description" class="form-control" data-target-input="description"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>