<!-- Add file panel -->
<div class="uploader">
	<div id="upload-container">
		<div id="upload-droparea">
			<p>Déposez vos fichiers ici</p>
			<p>ou</p>
			<div class="btn btn-secondary" id="upload-browse">Cliquez ici pour parcourir</div>
			<div id="upload-list"></div>
			
		</div>
		
	</div>
	
</div>


