{% set name = field.slug %}
{% set label = field.name %}
{% set class = field.htmlClass %}
{% set id = field.htmlId %}

<button class="col-12 btn btn-primary {{ class }}" id="{{ id }}" name="{{ name }}">{{ label }}</button>







