<!-----------------------------
	Response form type
-------------------------------->
<div id="form-response-theme" class="hidden">
	<div class="row">
			
		<div class="form-group col-12">
			<label for="object">Objet :</label>
			<input type="text" class="form-control" id="object" data-target-input="repObject"/>
		</div>
		
		<div class="form-group col-6">
			<label for="from">Expéditeur :</label>
			<input type="text" class="form-control" id="from" data-target-input="repFrom"/>
		</div>
		
		<div class="form-group col-6">
			<label for="name">Nom exp. :</label>
			<input type="text" class="form-control" id="name" data-target-input="repFromName"/>
		</div>
		
		<div class="form-group col-12">
			<label for="reply">Adresse de réponse :</label>
			<input type="text" class="form-control" id="reply" data-target-input="repReply"/>
		</div>
		
		<div class="form-group col-12">
			<label for="to">Destinataire :</label>
			<input type="text" class="form-control" id="to" data-target-input="repTo"/>
		</div>
		
		<div class="form-group col-12">
			<label for="cc">Destinataire en copie :</label>
			<input type="text" class="form-control" id="cc" data-target-input="repCc"/>
		</div>
		
		<div class="form-group col-12">
			<label for="cci">Destinataire en copie caché :</label>
			<input type="text" class="form-control" id="cci" data-target-input="repCci"/>
		</div>
		
		<div class="form-group col-12">
			<label for="html">Reponse (texte ou html) :</label>
			<textarea rows=10 class="form-control" id="html" data-target-input="repHtml"></textarea>
		</div>
		
		
	</div>
</div>