<!---------------------
	Response panel
----------------------->
<div id="formRespones" class="hidden">
	<div class="container-fluid">
		
		<!-- Menu design -->
		<div class="row nav">
			<div class="col-12">
				<nav>
				  <ul class="pagination justify-content-center">
					<li class="page-item"><div class="btn btn-secondary" id="add-response"><span class="fa fa-plus-circle action"></span></div></li>
				  </ul>
				</nav>
			</div>
		</div>
		
	</div>
</div>