<div class="col-12 m-auto p-3">
					
	<div class="row">
		<div class="col-12 text-center">
			<h2>Options de responsivitées</h2>
		</div>
	</div>
	
	<hr class="m-2">
	
	<div class="row">
	
		<div class="col-12 col-md-6">
			<div class="form-group">
				<label  for="col-xs">Taille sur petit écran</label>
				<input type="number" class="form-control" id="col-xs" data-target-input="colXs"/>
			</div>
			<div class="form-group">
				<label  for="col-sm">Taille sur smartphone</label>
				<input type="number" class="form-control" id="col-sm" data-target-input="colSm"/>
			</div>
			<div class="form-group">
				<label  for="col-md">Taille sur tablette</label>
				<input type="number" class="form-control" id="col-md" data-target-input="colMd"/>
			</div>
			<div class="form-group">
				<label  for="col-lg">Taille sur grand écran</label>
				<input type="number" class="form-control" id="col-lg" data-target-input="colLg"/>
			</div>
		</div>
		
	</div>

</div>