<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item active" data-target="#library-window"><a class="page-link" href="#">Librairie</a></li>
    <li class="page-item" data-target="#upload-window"><a class="page-link" href="#">Charger des fichiers</a></li>
  </ul>
</nav>